# Ignore paths
/.github/
/.yarn/
/docker/
/frontend/
/vendor/
/public/Yves/assets/
/public/Zed/assets/
/public/Backoffice/assets/
/public/MerchantPortal/assets/
**/dist/**

/composer.json
/package-lock.json
