{% extends view('merchant-product-widget', '@SprykerShop:MerchantProductWidget') %}

{% block content %}
    <h2 class="title title--h6 title--uppercase title--with-border title--with-vertical-padding">
        {{ 'merchant_product.sold_by' | trans }}
    </h2>

    {% include molecule('merchant-product-item', 'MerchantProductWidget') with {
        data: {
            isChecked: data.isChecked,
            radioGroupName: 'merchant_reference',
            merchantReference: data.merchantProductView.merchantReference | default,
            merchantName: data.merchantProductView.merchantName | default,
            merchantUrl: data.merchantProductView.merchantUrl | default,
            price: data.merchantProductView.price.price | default(null),
            currencyIsoCode: data.merchantProductView.price.currency.code | default(null),
            isRadioButtonVisible: data.isRadioButtonVisible,
            currentProductPrice: data.merchantProductView.price,
        },
    } only %}
{% endblock %}
