{% extends view('switcher', '@SprykerShop:StoreWidget') %}

{% define data = {
    additionalModifiers: ['hollow', 'header'],
    additionalClassName: '',
    storeUrls: _widget.storeUrls ?? null,
} %}

{% set attributes = data.storeUrls
    ? {
    name: '_store',
    'config-theme': 'secondary',
    'additional-class-name': data.additionalClassName,
    'onchange': 'this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);'
}
    : {
    name: '_store',
    'config-theme': 'secondary',
    'additional-class-name': data.additionalClassName,
    'data-form-submitter': true,
}
%}

{% block body %}
    <form method="GET" action="{{ data.storeUrls ? '' : '/' }}">
        {% set options = [] %}

        {% for storeName in data.storeNames %}
            {% set options = options | merge([{
                label: 'store_widget.switcher.store' | trans ~ ' ' ~ storeName,
                value: data.storeUrls ? data.storeUrls[storeName] : storeName,
                selected: storeName == data.currentStoreName,
            }]) %}
        {% endfor %}

        {% include molecule('custom-select') with {
            modifiers: data.additionalModifiers,
            data: {
                options: options,
            },
            attributes: attributes,
        } only %}
    </form>
{% endblock %}
