@include shop-ui-volume-price() {
    &__amount {
        color: $setting-color-black;
        font: fw(regular) rem(20) / rem(20) $setting-font-family-additional;
        display: block;

        @include helper-breakpoint-media-min($xl-min) {
            font-size: rem(22);
            line-height: rem(22);
        }

        &--original {
            color: $setting-color-gray-3;
            font-size: rem(15);
            line-height: rem(15);
            text-align: right;
        }
    }
}
