@include shop-ui-ajax-loader {
    background-color: $setting-color-transparent;

    &--with-background {
        background-color: $setting-color-white;
    }

    &--viewport-centered {
        background-color: rgba($setting-color-lighter, 0.5);
    }
}
